<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>

  <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>

<body>

<h1>Create an Account</h1>

<form action="{{ url_for('auth.register_post') }}" method="post">

  <label>Username:</label>
  <input type="text" name="username" required>

  <label>Email:</label>
  <input type="email" name="email" required>

  <label>Password:</label>
  <input type="password" name="password" required>

  <label>Role:</label>
  <select name="role">
    <option value="parent">Parent</option>
    <option value="authorities">Authorities</option>
  </select>

  <button type="submit">Register</button>

  <p class="signin-text">
    Already have an account?
    <a href="{{ url_for('auth.login') }}">Sign in</a>
  </p>

  {% if error %}
    <p style="text-align:center; color:red;">
      {{ error }}
    </p>
  {% endif %}

  {% if message %}
    <p style="text-align:center; color:green;">
      {{ message }}
    </p>
  {% endif %}

</form>

</body>
</html>