<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    
    <h1>Create an Account</h1>

    <!-- Display flashed messages -->
    <!-- {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="flash-message {{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %} -->

    <form action="{{ url_for('auth.register') }}" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required />

      <label for="email">Email:</label>
      <input type="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" name="password" required />

      <label for="role">Role:</label>
      <select name="role">
        <option value="parent">Parent</option>
        <option value="admin">Admin</option>
      </select>

      <button type="submit">Register</button>

      <!-- Sign-in link below the Register button -->
      <p class="signin-text">
        Already have an account? <a href="{{ url_for('auth.login') }}">Sign in</a>
      </p>
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <p class="flash-message {{ category }}" style="text-align: center;">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </form>
  </body>
</html>
